:root {
    --main-bg-color: #5A5A66;
    --nav-color: #2D2A32;
    --search-bg-color: #121420;
    --card-number-color: #66101F;
    --text-color: #FFFBFC;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
    scroll-behavior: smooth;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float: left;
    border-radius: 8px;
}

.link-list {
    list-style-type: none;
    text-align: center;
}

.input-group {
    padding-left: 5px;
    padding-right: 5px;
}

.card-img-number {
    background-color: var(--card-number-color); 
    opacity: .9;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--text-color);
    position: absolute;
    font-size: 1.5em;
    text-align: center;
    bottom: -16px;
    width: 2em;
}

.card-img-top {
    width: 80%;
    padding: 5px;
}

.search-cards {
    animation: fadeIn 3s ease-in;
}

.emptyCard {
    color: var(--text-color);
}


/* https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 25;
    }
    75% {
        opacity: 55;
    }
    100% {
        opacity: 100;
    }
}

.info-number {
    background-color: var(--card-number-color);
    opacity: .9;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 7px;
    color: ghostwhite;
    font-size: 1.2em;
    text-align: center;
    bottom: -18px;
    margin: 0px;
    width: 3em;
}

#content {
    background-color: #FFFFFF;
    border-radius: 10px;
    border-color: #0A0908;
    border-style: solid;
    max-width: 50%;
    max-height: 100%;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

#signupForm,
#loginForm {
    margin-top: 10%;
    padding-bottom: 0%;
}

#form-container {
    background-color: var(--search-bg-color);
    border-radius: 10px;
    border-color: #0A0908;
    border-style: solid;
    margin: 1%;
}

#errorMessage {
    margin: auto;
    display: none;
    width: 50%;
    border-radius: 10px;
    border: 3px solid #0A0908;
    background-color: #FFFFFF;
    padding: 10px;
    align-content: center;
}

#searchResults,
#deckList {
    overflow-y: auto;
    max-height: 30%;
}

#deckResults {
    overflow-y: auto;
    max-height: 50%;
}

.deckName {
    padding-left: 2%;
    padding-top: 1%;
}

#deck {
    overflow-y: auto;
    max-height: 15%;
}

.navbar {
    background-color: var(--nav-color)!important;
    border-bottom: solid;
    border-color: #0A0908;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.nav-link {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: var(--text-color);
    font-size: 1.3em;
    float: left;
}

.createDeckSubmit {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

.nav-link:hover {
    color: lightblue;
    transition: color 0.4s ease;
}

.tip-container {
    background-color: rgba(112, 128, 144, 0.75);
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.h-90 {
    height: 90%!important;
}

.tip {
    color: ghostwhite;
    text-align: center;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0px;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 25%;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.header {
    text-align: center;
    padding-bottom: 10px;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.input {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
    margin-left: 25%;
    margin-right: auto;
    margin-bottom: 5%;
}

.input:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#errorMessage {
    font-size: 1.2em;
    color: black;
    text-align: center;
    font-weight: bold;
}

.card {
    background-color: transparent;
    border: 0px;
}

.deck {
    border-radius: 10px;
    margin-left: 0px!important;
    margin-right: 1px!important;
    margin-bottom: 1%;
    margin-top: 2px;
    background-color:red;
}

.row {
    margin-left: .7%;
    margin-right: .7%;
}

.jumbotron {
    margin-bottom: 0px;
    padding-bottom: 10px;
}


/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #AA4465;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Handle */

body::-webkit-scrollbar-thumb {
    background: slategray;
    border-radius: 0px;
}
